@media only screen and (min-width: 600px) {
  .map-container {
    height: 50%;
    width: 50%;
    min-width: 700px;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    min-height: 600px;
    /* border: 1px solid red; */
  }
}
@media only screen and (max-width: 600px) {
  .map-container {
    height: 50%;
    width: 50%;
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    min-height: 260px;
    /* border: 1px solid red; */
  }
}
